<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hoseok Tong's Curriculum Vitae</title>
    <style type="text/css">
        .title {
            font-size: 2.2rem;
            text-align: left;
        }
        .ttitle {
            font-size: 1.2rem;
            text-align: left;
        }
        .img-fluid {
            width: 160px; /* Fixed width */
            height: 180px; /* Fixed height */
            border-radius: 20%; /* Circular image */
            object-fit: cover; /* Ensure the image covers the area without distortion */
        }
        .social-links a {
            margin-right: 8px;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <!-- Basic Info and Title -->
                <h1 class="title">Hoseok Tong</h1>
                <p class="ttitle">Ph.D. Student <br> Yonsei University, Seoul, Korea<br>Email: hstong09@yonsei.ac.kr</p>
                <div class="social-links">
                    <!-- Social Links -->
                    <!-- <a href="https://linkedin.com">LinkedIn</a> -->
                    <a href="https://scholar.google.com/citations?user=wxVnOkoAAAAJ&hl=en">Scholar</a>
                    <a href="https://github.com/hoseok-tong">GitHub</a>
                    <a href="mailto:hstong09@yonsei.ac.kr">Email</a>
                    <a href="http://insight.yonsei.ac.kr/gnuboard/">LAB</a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Profile Image -->
                <img src="ths.png" class="img-fluid" alt="Hoseok Tong">
            </div>
        </div>
        <hr>
        <!-- Other sections remain the same -->
        <!-- Rest of the page content here -->
        <div class="row">
            <div class="col-md-12">
                <!-- About Me Section -->
                <h3 class="subtitle">About Me</h3>
                <p class="lead"> 
                    I am Hoseok Tong, a Ph.D. candidate at Yonsei University, supervised by Prof. Sanghoon Lee. 
                    I am particularly interested in developing technologies for creating 3D human avatars, focusing on utilizing AI in the process. 
                    My research aims to apply these avatars to multimedia content, enabling their use across various fields in the entertainment industry.
                </p>
            </div>
        </div>
        <hr>
        
        <div class="row">
            <!-- Education Section -->
            <div class="col-md-12">
                <h3 class="subtitle">Education</h3>
                <h4>Yonsei Unversity - Seoul, Korea </h4> 
                <p class="lead">
                - M.S. and Ph.D. Candidate in Electrical and Electronic Engineering. <br>
                - Supervised by Prof. Sanghoon Lee.  <br>
                - Sep. 2021 - Present  <br>

                <h4>Yonsei Unversity - Seoul, Korea </h4> 
                <p class="lead">
                    - B.S. in Electical and Electronic Engineering <br>
                    - Mar. 2015 - Aug. 2021 <br>
            </div>

        </div>
        <hr>
        
        <!-- Publications Section -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">Publications</h3>
                <!-- Conferences Section -->
                <h4 class="subsubtitle">Conferences</h4>
                <p class="lead">
                    - J Kim, H Oh, S Kim, <strong>Hoseok Tong</strong>, S Lee, "A Brand New Dance Partner:Music-Conditioned Pluralistic Dancing Controlled by Multiple Dance Genres", Conference on Computer Vision and Pattern Recognition (CVPR2022)<br> 

                <!--
                Journals Section 
                <h4 class="subsubtitle">Journals</h4>
                <p class="lead"><strong>
                    - <br> </strong>
                -->                    
            </div>
        </div>
        <hr>

        <!-- Global Experience Section -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">Global Collaborative Research Experience</h3>
                <p class="lead">
                    - Conducted research on advanced AI-driven multimedia applications and virtual reality technologies under the supervision of Prof. Jianfei Cai at Monash University, Melbourne, Australia (Jan. 2025 – Mar. 2025).<br>
                </p>
            </div>
        </div>
        <hr>

        <!-- Award Section -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">Awards & Scholarship</h3>
                - (재)솔브레인나눔재단 대학(원)교 솔브레인 석호 장학생, 2023 <br>
                - 한국인 재식별 AI 데이터 셋을 활용한 서비스 아이디어 해커톤 공모전 최우수상, 2023 <br>
                - 가족 관계가 알려진 얼굴 이미지 데이터셋을 활용한 서비스 아이디어 해커톤 공모전 최우수상, 2021 <br>
            </div>
        </div>
        <hr>        

        <!-- Project Experience Section -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">Project Experience</h3>
                - 생성형 AI 콘텐츠 저작권 침해 판별 기술 개발 및 글로벌형 전문인력 양성 | 2024.04 - Present | 한국콘텐츠진흥원 <br>
                - 합성전장 환경의 초실감 통합전투훈련 플랫폼 | 2024.01 - present| 한국전자통신연구원 <br>
                - 현실세계와 가상공간이 동기화되어 극사실적 상호 작용이 가능한 Beyond X-verse 원천기술 개발 | 2023.09 - present| 한국전자통신연구원 <br>
                - 정량 화질 평가 알고리즘 개발 | 2023.02 - 2023.12 | 삼성전자 <br>
                - 설명 가능한 감성 경험 예측 모델 기반 콘텐츠 평가 기술 개발 및 상용화 | 2023.03 - 2023.08 | 정보통신기획평가원<br>
                - 시각적 인지연구 기반 시공간 도메인 확장 최적화 기술 연구 | 2022.09 - 2023.02 | 한국연구재단<br>
                - 5G기반 저지연 디바이스 - 엣지클라우드 인터랙션 기술 개발 | 2021.09 - 2023.02 | 정보통신기획평가원 <br>
            </div>
        </div>
        <hr>

<!--
         Copyright Section
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">Copyright</h3>
                        -  <br>
            </div>
        </div>        
        <hr>
-->

<!--         
        Reviewer Experience Section
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">Reviewer Experience</h3>
                <p class="lead">
                    - Invited Reviewer for IEEE Transactions on Multimedia (1 manuscript)<br>
                </p>
            </div>
        </div>
        <hr> 
-->

<!-- Skills Section -->
        <div class="row">
            <div class="col-md-6">
                <h3 class="subtitle">Skills</h3>
                <p class="lead">
                    - Languages: Korean (native), English (TOEFL: 104, OPIC: IH, TOEIC: 865) <br>
                    - Programming Languages: Python, MatLab, C++/Cuda <br>
                    - Tools and Frameworks: PyTorch</p>
            </div>
        </div>
        <hr>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>